@model TournamentApp2.ViewModels.TournamentInfo

<h2>@Model.Tournament.Name</h2>

<dl>
    <dt>Place</dt>
    <dd>@Model.Tournament.Location</dd>
    <dt>Website</dt>
    <dd>@Model.Tournament.Web</dd>
    <dt>Price</dt>
    <dd>@Model.Tournament.Prize</dd>
    <dt>Place</dt>
    <dd>@Model.Tournament.Info</dd>
    <dt>Start registration</dt>
    <dd>@Model.Tournament.StartDate</dd>
    <dt>End registration</dt>
    <dd>@Model.Tournament.EndRegistration</dd>
    <dt>Date of tournament</dt>    
    <dd>@Model.Tournament.StartDate</dd>
</dl>
